<div>
  <button 
    (click)="selectMulti('PAC2200')" 
    [ngClass]="{ 'active': selectedMulti === 'PAC2200' }">
    PAC2200
  </button>

  <button 
    (click)="selectMulti('P20A000T')" 
    [ngClass]="{ 'active': selectedMulti === 'P20A000T' }">
    P20A000T
  </button>

  <button 
    (click)="selectMulti('P21A000T')" 
    [ngClass]="{ 'active': selectedMulti === 'P21A000T' }">
    P21A000T
  </button>

  <button 
    (click)="selectMulti('MFD4ORFCDT1')" 
    [ngClass]="{ 'active': selectedMulti === 'MFD4ORFCDT1' }">
    MFD4ORFCDT1
  </button>
  
  <button 
    (click)="selectMulti('SXMT63')" 
    [ngClass]="{ 'active': selectedMulti === 'SXMT63' }">
    SXMT63
  </button>
</div>

<div class="menuBox">
  <div class="menuLink">
    <ul>
      <li *ngIf="selectedMulti === 'PAC2200'">
        <app-pac2200></app-pac2200>
      </li>

      <li *ngIf="selectedMulti === 'P20A000T'">
        <app-p20-a000-t></app-p20-a000-t>
      </li>

      <li *ngIf="selectedMulti === 'P21A000T'">
        <app-p21-a000-t></app-p21-a000-t>
      </li>

      <li *ngIf="selectedMulti === 'MFD4ORFCDT1'">
        <app-mfd4-orfcdt1></app-mfd4-orfcdt1>
      </li>

      <li *ngIf="selectedMulti === 'SXMT63'">
        <app-sxmt63></app-sxmt63>
      </li>
    </ul>
  </div>
</div>
