<div class="block">
    <div class="page">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/BTicino_logo.svg/2560px-BTicino_logo.svg.png" alt="Bticino Logo">
        <a class="link-nice" href="assets/manuals/Multimetri/SXMT63-Manual/06_tipo3_PR165_SXMT63.pdf" target="_blank">Manuale di Riferimento</a>
        <a class="link-nice-Resp" href="assets/manuals/Multimetri/SXMT63-Manual/06_tipo3_PR165_SXMT63.pdf">Manuale di Riferimento</a>
        <a class="link-nice-var" href="#">Var List</a>
        <table>
            <thead>
                <tr>
                    <th>Misurazioni</th>
                    <th>ModBus usato e funzionante</th>
                    <th>ModBus da Manuale</th>
                </tr>
            </thead>
            <tbody>
                <!--Potenza Attiva Trifase-->
                <tr>
                    <td>Potenza Attiva Trifase (kW)</td>
                    <td>320523W</td>
                    <td>20523</td>
                </tr>
                <!--Potenza Reattiva Trifase-->
                <tr>
                    <td>Potenza Reattiva Trifase (kvar)</td>
                    <td>320524W</td>
                    <td>20524</td>
                </tr>
                <!--Energia Attiva Assorbita (positiva)-->
                <tr>
                    <td>Energia attiva assorbita (positiva) [kWh]</td>
                    <td>320533E</td>
                    <td>20533</td>
                </tr>
                <!--Potenza Attiva Fase 1-->
                <tr>
                    <td>Potenza Attiva Fase 1</td>
                    <td>320545W</td>
                    <td>20554</td>
                </tr>
                <!--Potenza Reattiva Fase 1-->
                <tr>
                    <td>Potenza Reattiva Fase 1</td>
                    <td>320548W</td>
                    <td>20548</td>
                </tr>
                <!--NegEnergy-->
                <tr>
                    <td>Energia attiva ceduta (negativa)</td>
                    <td>320535E</td>
                    <td>20535</td>
                </tr>
                <!--Voltage-->
                <tr>
                    <td>Tensione tra fase 1 e neutro</td>
                    <td>320495W</td>
                    <td>20495</td>
                </tr>
                <tr>
                    <td>Tensione tra fase 2 e neutro</td>
                    <td>320496W</td>
                    <td>20496</td>
                </tr>
                <tr>
                    <td>Tensione tra fase 3 e neutro</td>
                    <td>320497W</td>
                    <td>20497</td>
                </tr>
                <!--Cosphi Corrente Fase 1-->
                <tr>
                    <td>Cosphi Corrente Fase 1</td>
                    <td>320481W</td>
                    <td>20481</td>
                </tr>
                <!--Cosphi Fattore Potenza-->
                <tr>
                    <td>Cosphi Fattore Potenza</td>
                    <td>320528W</td>
                    <td>20528</td>
                </tr>
                <!--Current Phase-->
                <tr>
                    <td>Corrente Fase 1</td>
                    <td>320481W</td>
                    <td>20481</td>
                </tr>
                <tr>
                    <td>Corrente Fase 2</td>
                    <td>320482W</td>
                    <td>20482</td>
                </tr>
                <tr>
                    <td>Corrente Fase 3</td>
                    <td>320483W</td>
                    <td>20483</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>