<form [formGroup]="varlistForm" (ngSubmit)="onSubmit()">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Modello</th>
        <th>Aux Number</th>
        <th>Descrizione</th>
        <th>Device Address</th>
        <th>IP Address</th>
      </tr>
    </thead>
    <tbody formArrayName="rows">
      <tr *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
        <td>
          <select formControlName="categoria">
            <option value="">-- Seleziona categoria --</option>
            <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
          </select>
          <div *ngIf="isInvalid(i, 'categoria')" class="text-danger">
            {{ getErrorMessage(i, 'categoria') }}
          </div>
        </td>
        <td>
          <select formControlName="model">
            <option value="">-- Seleziona modello --</option>
            <option *ngFor="let m of modelsPerRow[i]" [value]="m.Modello">{{ m.Modello }}</option>
          </select>
          <div *ngIf="isInvalid(i, 'model')" class="text-danger">
            {{ getErrorMessage(i, 'model') }}
          </div>
        </td>
        <td>
          <input type="text" formControlName="auxNumber" />
          <div *ngIf="isInvalid(i, 'auxNumber')" class="text-danger">
            {{ getErrorMessage(i, 'auxNumber') }}
          </div>
        </td>
        <td>
          <input type="text" formControlName="description" />
        </td>
        <td>
          <input type="text" formControlName="device" />
          <div *ngIf="isInvalid(i, 'device')" class="text-danger">
            {{ getErrorMessage(i, 'device') }}
          </div>
        </td>
        <td>
          <input type="text" formControlName="ipAddress" />
          <div *ngIf="isInvalid(i, 'ipAddress')" class="text-danger">
            {{ getErrorMessage(i, 'ipAddress') }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="btnBlock">
    <button type="button" (click)="addRow()" class="btn btn-secondary">Aggiungi Riga</button>
    <button type="button" (click)="removeRow()" class="btn btn-warning" [disabled]="rows.length <= 1">Rimuovi Ultima Riga</button>
    <button type="button" (click)="resetRows()" class="btn btn-warning" [disabled]="isResetDisabled">Reset</button>
    <button type="submit" class="btn btn-primary" [disabled]="isGenerateDisabled || loading">
      <ng-container *ngIf="!loading; else loadingTpl">
        Genera
      </ng-container>
      <ng-template #loadingTpl>
        <span class="custom-spinner"></span> Generazione...
      </ng-template>
    </button>
  </div>
</form>