// Variabili di design del brand Veil
$black-primary: #3E4041;
$black-primary-hover: #757370;
$veil-primary: #BC6062;
$veil-primary-hover: #D47677;
$form-input-bg: #F7F9FC;
$light-gray-disabled: #C6C6C6;
$box-shadow-global: 0 4px 8px rgba(0, 0, 0, 0.1);
$transition-property: all 0.2s ease-in-out;
$light-gray: #f5f5f7;
$red-brand: #bc6062;
$red-brand-hover: #cf2e2e;