<div class="block">
    <div class="page">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/BTicino_logo.svg/2560px-BTicino_logo.svg.png" alt="Bticino Logo">
        <a class="link-nice" href="assets/manuals/Multimetri/MFD4ORFCDT1-Manual/01_tipo1_IDP001515_MFD4ORFCDT1.pdf" target="_blank">Manuale di Riferimento</a>
        <a class="link-nice" href="#">Var List</a>
        <table>
            <thead>
                <tr>
                    <th>Misurazioni</th>
                    <th>ModBus usato e funzionante</th>
                    <th>ModBus da Manaule</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Potenza Attiva Trifase</td>
                    <td>320539M</td>
                    <td>20539</td>
                </tr>
                <tr>
                    <td>Potenza Attiva Trifase</td>
                    <td>320541E</td>
                    <td>20541</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>