<div class="pageBlock">
  <div class="btnHome">
    <button class="homeBtn" (click)="backToHome()" aria-label="Torna alla home">
      <fa-icon [icon]="faHouse"></fa-icon>
    </button>
  </div>

  <div class="container">
    <div class="loginBox">
      <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
        <h3>Login</h3>

        <div class="formGroup">
          <label for="username">Username</label>
          <input id="username" type="email" formControlName="username" placeholder="Enter your username" />
          <div class="text-danger"
            *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
            Please enter a valid username.
          </div>
        </div>

        <div class="formGroup">
          <label for="password">Password</label>
          <input id="password" type="password" formControlName="password" placeholder="Enter your password" />
          <div class="text-danger"
            *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
            Password is required.
          </div>
        </div>

        <div class="text-danger generalError" *ngIf="loginError">
          {{ loginError }}
        </div>

        <div class="btnContainer">
          <button type="submit" [disabled]="loginForm.invalid">Sign in</button>
          <small>
            Don't have an account?
            <a [routerLink]="['/register']">Register here</a>
          </small>
        </div>
      </form>
    </div>
  </div>
</div>