<div class="block">
    <div class="page">
        <img src="https://www.emu-metering.com/media/d3/92/1f/1641741623/EMU%20Metering%20Logo.jpg?ts=1641741623" alt="EMU Logo">
        <a class="link-nice" href="assets/manuals/Multimetri/P21-Manual/1485_Manual_Modbus-Interface_Professional-II_EN.pdf" target="_blank">Manuale di Riferimento</a>
        <a class="link-nice-Resp" href="assets/manuals/Multimetri/P21-Manual/1485_Manual_Modbus-Interface_Professional-II_EN.pdf">Manuale di Riferimento</a>        
        <a class="link-nice-var" href="#">Var List</a>
        <table>
            <thead>
                <tr>
                    <th>Misurazioni</th>
                    <th>ModBus usato e funzionante</th>
                    <th>ModBus da Manuale</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Potenza Attiva L123</td>
                    <td>49000H</td>
                    <td>9000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>