<div class="registerBox">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h3 class="text-center mb-4">Registration</h3>
        <input formControlName="username" placeholder="Username" />
        <input formControlName="email" placeholder="Email" type="email" />
        <input formControlName="password" placeholder="Password" type="password" />
        <button type="submit">Registrati</button>
    </form>
    <div *ngIf="registerError" class="error">{{ registerError }}</div>
</div>
