<div class="pageBlock">
    <div class="btnHome">
        <button class="homeBtn" (click)="backToHome()" aria-label="Torna alla home">
            <fa-icon [icon]="faHouse"></fa-icon>
        </button>
    </div>

    <div class="registerBox" *ngIf="!successMessage">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h3>Registration</h3>

            <div class="formGroup">
                <label for="username">Username</label>
                <input id="username" formControlName="username" placeholder="Username" />
                <div *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid"
                    class="error">
                    Username obbligatorio
                </div>
            </div>

            <div class="formGroup">
                <label for="email">Email</label>
                <input id="email" formControlName="email" placeholder="Email" type="email" />
                <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="error">
                    <span *ngIf="registerForm.get('email')?.errors?.['required']">Email obbligatoria</span>
                    <span *ngIf="registerForm.get('email')?.errors?.['email']">Formato email non valido</span>
                </div>
            </div>

            <div class="formGroup">
                <label for="password">Password</label>
                <div class="passwordInputWrapper">
                    <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password"
                        placeholder="Password" />
                    <button type="button" class="togglePasswordBtn" (click)="togglePasswordVisibility()"
                        [attr.aria-label]="showPassword ? 'Nascondi password' : 'Mostra password'">
                        <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
                    </button>
                </div>
                <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
                    class="error">
                    <span *ngIf="registerForm.get('password')?.errors?.['required']">Password obbligatoria</span>
                    <span *ngIf="registerForm.get('password')?.errors?.['minlength']">
                        La password deve contenere almeno 8 caratteri
                    </span>
                </div>
            </div>

            <div *ngIf="registerError" class="error generalError">{{ registerError }}</div>

            <button type="submit" [disabled]="registerForm.invalid || isLoading">
                <ng-container *ngIf="!isLoading; else loadingTpl">
                    Registrati
                </ng-container>
                <ng-template #loadingTpl>
                    <span class="spinner"></span> Loading...
                </ng-template>
            </button>
        </form>
    </div>

    <app-verify-email *ngIf="successMessage" [staticMode]="true"></app-verify-email>
</div>