<div class="pageBlock">
  <div class="header-box">
    <div class="homeBtnBox">
      <button class="homeBtn" (click)="goToHome()" aria-label="Torna alla home">
        <fa-icon [icon]="faHouse"></fa-icon>
      </button>
    </div>
    <div class="titleBox">
      <h1>VarList Generator</h1>
    </div>
  </div>
  <div class="formBox">
    <app-varlist
      [loading]="loading"
      [error]="error"
      [categories]="categories"
      [models]="models"
      (generate)="onGenerate($event)"
      >
    </app-varlist>
  </div>
</div>