@import "../../../styles/variables";

* {
    font-family: "SMA Futura Global", Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Desktop
@media screen and (min-width: 920px) {
    .pageBlock {
        background-color: $light-gray;
        min-height: 100vh;
        padding: 20px;

        .headerBox {
            background-color: transparent;
            color: $black-primary;
            padding: 20px 0;
            display: flex;
            align-items: center;
        }

        .homeBtn {
            background-color: transparent;
            color: $veil-primary;
            padding: 10px;
            border: none;
            cursor: pointer;
            transition: $transition-property;

            &:hover {
                color: $veil-primary-hover;
            }

            fa-icon {
                font-size: 20px;
            }
        }
    }

    .formBox {
        width: 100%;
        display: inline-block;
    }
}

// Laptop
@media screen and (min-width: 730px) and (max-width: 919px) {
    .pageBlock {
        background-color: $light-gray;
        min-height: 100vh;
        padding: 20px;

        .headerBox {
            background-color: transparent;
            color: $black-primary;
            padding: 20px 0;
            display: flex;
            align-items: center;
        }

        .homeBtn {
            background-color: transparent;
            color: $veil-primary;
            padding: 10px;
            border: none;
            cursor: pointer;
            transition: $transition-property;

            &:hover {
                color: $veil-primary-hover;
            }

            fa-icon {
                font-size: 20px;
            }
        }
    }

    .formBox {
        width: 100%;
        display: inline-block;
    }
}

// Tablet
@media screen and (min-width: 600px) and (max-width: 729px) {
    .pageBlock {
        background-color: $light-gray;
        min-height: 100vh;
        padding: 20px;

        .headerBox {
            background-color: transparent;
            color: $black-primary;
            padding: 20px 0;
            display: flex;
            align-items: center;
        }

        .homeBtn {
            background-color: transparent;
            color: $veil-primary;
            padding: 10px;
            border: none;
            cursor: pointer;
            transition: $transition-property;

            &:hover {
                color: $veil-primary-hover;
            }

            fa-icon {
                font-size: 20px;
            }
        }
    }

    .formBox {
        width: 100%;
        display: inline-block;
    }
}

// Smartphone
@media screen and (max-width: 599px) {
    .pageBlock {
        background-color: $light-gray;
        min-height: 100vh;
        padding: 20px;

        .headerBox {
            background-color: transparent;
            color: $black-primary;
            padding: 20px 0;
            display: flex;
            align-items: center;
        }

        .homeBtn {
            background-color: transparent;
            color: $veil-primary;
            padding: 10px;
            border: none;
            cursor: pointer;
            transition: $transition-property;

            &:hover {
                color: $veil-primary-hover;
            }

            fa-icon {
                font-size: 20px;
            }
        }
    }

    .formBox {
        width: 100%;
        display: inline-block;
    }
}