<div class="block">
    <div class="page">
        <div class="header">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Logo_SMA.svg/2560px-Logo_SMA.svg.png" alt="SMA Logo">
            <div class="btnBox">
                <button class="button-nice" onclick="window.location.href='assets/manuals/Fotovoltaici/Parameter-STP110-60/Manual-STP110-60.html'">Manuale di Riferimento</button>        
                <button class="button-nice-var" href="#">Var List</button>
            </div>
        </div>
        <div class="tableBox">
            <table>
                <thead>
                    <tr>
                        <th>Misurazioni</th>
                        <th>ModBus usato e funzionante</th>
                        <th>ModBus da Manuale</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Potenza-->
                    <tr>
                        <td>Potenza Watts (W)</td>
                        <td>40085</td>
                        <td>40085</td>
                    </tr>
                    <!--Energia-->
                    <tr>
                        <td>Energia Watt Ora (WH)</td>
                        <td>440095E</td>
                        <td>40095</td>
                    </tr>
                    <!--Current Inverter-->
                    <tr>
                        <td>Corrente Totale Inverter</td>
                        <td>440073W</td>
                        <td>40073</td>
                    </tr>
                    <tr>
                        <td>Corrente Totale Inverter L1</td>
                        <td>440074W</td>
                        <td>40074</td>
                    </tr>
                    <tr>
                        <td>Corrente Totale Inverter L2</td>
                        <td>440075W</td>
                        <td>40075</td>
                    </tr>
                    <tr>
                        <td>Corrente Totale Inverter L3</td>
                        <td>440076W</td>
                        <td>40076</td>
                    </tr>
                    <!--Voltage Inverter-->
                    <tr>
                        <td>Voltaggio Inverter L1</td>
                        <td>440081W</td>
                        <td>40081</td>
                    </tr>
                    <tr>
                        <td>Voltaggio Inverter L3</td>
                        <td>440082W</td>
                        <td>40082</td>
                    </tr>
                    <tr>
                        <td>Voltaggio Inverter L3</td>
                        <td>440083W</td>
                        <td>40083</td>
                    </tr>
                    <!--Frequenza Hz-->
                    <tr>
                        <td>Frequenza di rete Inverter(Hz)</td>
                        <td>440087W</td>
                        <td>40087</td>
                    </tr>
                    <!--CosphiInverter-->
                    <tr>
                        <td>Cosphi Inverter</td>
                        <td>440093I</td>
                        <td>40093</td>
                    </tr>
                    <!--Operating State Inverter-->
                    <tr>
                        <td>Stato Operativo Inverter</td>
                        <td>440109W</td>
                        <td>40109</td>
                    </tr>
                    <!--Event1-->
                    <tr>
                        <td>Event1 Inverter</td>
                        <td>440111E</td>
                        <td>40111</td>
                    </tr>
                    <!--Temperatura interna Inverter-->
                    <tr>
                        <td>Temperatura interna Inverter</td>
                        <td>440104I</td>
                        <td>40104</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>