<div class="menuBox">
    <div class="menu-section" *ngIf="selectedMenuItem">
        <h2>Hai selezionato: {{ selectedMenuItem }}</h2>
        <ul>
            <li><a href="../pages/sub-pages/Multimetri/PAC2200/PAC2200.html ">PAC2200</a></li>
            <li><a href="../pages/sub-pages/Multimetri/P20/P20.html">P20A000T</a></li>
            <li><a href="../pages/sub-pages/Multimetri/P21/P21.html">P21A000T</a></li>
            <li><a href="../pages/sub-pages/Multimetri/IM/IM.html">MFD4ORFCDT1</a></li>
            <li><a href="../pages/sub-pages/Multimetri/SXMT63/SXMT63.html">SXMT63</a></li>
        </ul>
    </div>
</div>