<div class="block">
    <div class="page">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/BTicino_logo.svg/2560px-BTicino_logo.svg.png" alt="Bticino Logo">
        <a class="link-nice" href="assets/manuals/Multimetri/SXMM63/05_tipo4_PR160_SXMM63.pdf" target="_blank">Manuale di Riferimento</a>
        <a class="link-nice-Resp" href="assets/manuals/Multimetri/SXMM63/05_tipo4_PR160_SXMM63.pdf">Manuale di Riferimento</a>
        <a class="link-nice-var" href="#">Var List</a>
        <table>
            <thead>
                <tr>
                    <th>Misurazioni</th>
                    <th>ModBus usato e funzionante</th>
                    <th>ModBus da Manaule</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>